<mat-card>
  <mat-card-header>
    <mat-card-title>Reserves</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="row">
      <span class="col">
        <span class="mat-body-strong">{{ baseCurrency.id }} </span>:
        <span class="mat-body">{{ baseCurrency.reserves }}</span>
      </span>
      <span class="col">
        <span class="mat-body-strong">{{ quoteCurrency.id }} </span>:
        <span class="mat-body">{{ quoteCurrency.reserves }}</span>
      </span>
    </div>
  </mat-card-content>
</mat-card>
