<mat-card>
  <mat-card-header>
    <mat-card-title>Real-Time Rate</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="row">
      <span class="col">
        <span class="mat-body-strong">Rate </span>:
        <span class="mat-body">{{ liveRate.rate }}</span>
      </span>
      <span class="col">
        <span class="mat-body-strong">Last Refreshed </span>:
        <span class="mat-body">{{ liveRate.refreshTime }}</span>
      </span>
    </div>
  </mat-card-content>
</mat-card>
