/* You can add global styles to this file, and also import other style files */
@import '~ag-grid-community/dist/styles/ag-grid.css';
@import '~ag-grid-community/dist/styles/ag-theme-balham.css';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.fx-app .mat-card-header-text {
  margin: 0;
}

.fx-app .mat-card-footer {
  margin: 0;
  position: absolute;
  bottom: 10px;
  right: 40px;
}

.fx-app .mat-form-field-infix {
  width: unset;
  max-width: 180px;
}
