<currency-header></currency-header>
<section class="row">
  <div class="col">
    <currency-intraday-chart></currency-intraday-chart>
  </div>
  <div class="col">
    <currency-live-rate></currency-live-rate>
    <currency-reserves></currency-reserves>
    <currency-exchange></currency-exchange>
  </div>
</section>
<section class="row">
  <div class="col">
    <currency-mono-chart></currency-mono-chart>
  </div>
  <div class="col">
    <currency-mono-grid></currency-mono-grid>
  </div>
</section>

<!-- <currency-layout></currency-layout> -->
