.grid-container {
  padding: 20px;
  background-color: #eee;
  display: grid;
  grid-template-rows: repeat(12, 1fr);
  grid-template-columns: repeat(12, 1fr);
  column-gap: 30px;
  row-gap: 30px;
}

.fx-realtime-card {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 4;
}

.datetime-controls {
  grid-row-start: 3;
  grid-row-end: 5;
  grid-column-start: 1;
  grid-column-end: 4;
}

.intraday-chart,
.historical-chart {
  grid-row-start: 1;
  grid-row-end: 5;
  grid-column-start: 4;
  grid-column-end: 13;
}

.historical-grid,
.intraday-grid {
  grid-column-start: 6;
  grid-column-end: 13;
  grid-row-start: 5;
  grid-row-end: 10;
}

.transaction-grid {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 5;
  grid-row-end: 10;
}

.fx-intraday-time-range,
.fx-historical-date-range {
  margin: 10px 0 60px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  flex-wrap: wrap;
}

.row {
  display: flex;
  flex-direction: row;
  height: 60px;
}

.col {
  flex: 1;
  margin-right: 20px;
}

.col:last-child {
  margin-right: 0;
}
