<fx-header></fx-header>
<div class="grid-container">
  <mat-tab-group
    class="left"
    (selectedTabChange)="setViewState($event.tab.textLabel.toLowerCase())"
  >
    <mat-tab label="Intraday Rates">
      <div class="sub-grid-container">
        <mat-card class="top-left">
          <mat-card-content>
            <fx-intraday-chart></fx-intraday-chart>
          </mat-card-content>
        </mat-card>
        <mat-card class="intraday-grid" class="bottom-left">
          <mat-card-content>
            <fx-intraday-grid></fx-intraday-grid>
          </mat-card-content>
        </mat-card>
      </div>
    </mat-tab>
    <mat-tab label="Historical Rates">
      <div class="sub-grid-container">
        <mat-card class="top-left">
          <mat-card-content>
            <fx-historical-chart></fx-historical-chart>
          </mat-card-content>
        </mat-card>
        <mat-card class="bottom-left">
          <mat-card-content>
            <fx-historical-grid></fx-historical-grid>
          </mat-card-content>
        </mat-card>
      </div>
    </mat-tab>
  </mat-tab-group>
  <div class="top-right">
    <fx-realtime-card></fx-realtime-card>
  </div>
  <div class="bottom-right">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Transactions</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <fx-transactions-grid></fx-transactions-grid>
      </mat-card-content>
    </mat-card>
  </div>
</div>
